<div class="jumbotron">
  <h1>Welcome to Pinrails!</h1>
  <p>Here you can share pictures with the world.</p>
  <p>
    <a href="#" class="btn btn-default btn-lg" role="button">Login</a>
    <a href="#" class="btn btn-primary btn-lg" role="button">SignUp!</a>
  </p>
</div>